
<div  class="container" style="background-color: whitesmoke;">
    <div class="row" style="margin-left: 24px;">
      <span >
      <img src="assets/hotel.png" height="35px" width="35px" alt="hotel"/>
      <span class="sideNavNames">Pomo & co</span>
    </span>
      <span style="margin-left: 42px;">
      <mat-icon title="Home Page" class="sidenav-icon">arrow_back_ios</mat-icon>
    </span>
    <span style="margin-left: 550px">
    <mat-form-field appearance="outline" style=" zoom: 0.6;width: 518px;">
      <mat-icon  matPrefix>search</mat-icon>
      <input type="text" matInput style="zoom: 1.3;" placeholder="Search for Restaurants (Press Enter to search)">
    </mat-form-field>
  </span>
  <span style="margin-left: 10px">
    <img src="assets/cart.png" height="30px" width="30px" class="img" alt="hotel"/>
  </span>
    </div>
   
  </div>
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <div>
        <a [routerLink]="['/home']">
          <mat-icon title="Home Page" class="sidenav-icon">home</mat-icon>
          <span class="sideNavNames">
            Home 
          </span>
        </a>
        </div>
        <br>
        <div>
          <mat-icon title="Home Page" class="sidenav-icon">view_list</mat-icon>
          <span class="sideNavNames">
            Orders
          </span>
        </div>
        <br>
        <div>
          <mat-icon title="Home Page" class="sidenav-icon">notifications</mat-icon>
          <span class="sideNavNames">
            Notification
          </span>
        </div>
        <br>
        <div>
          <mat-icon title="Home Page" class="sidenav-icon">help_outline</mat-icon>
          <span class="sideNavNames">
           Help & support
          </span>
        </div>
        <br>
        <div>
          <mat-icon title="Home Page" class="sidenav-icon">settings</mat-icon>
          <span class="sideNavNames">
           Settings
          </span>
        </div>
      </ul>
  </div>


  

  

